@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    body {
        @apply bg-background text-text font-SUITRegular;
        -ms-overflow-style: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    hr {
        @apply border-text-gray;
    }

    input:focus {
        outline: none;
        @apply brightness-110;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    /* 파이어폭스에서의 초기화 방법 */
    input[type=number] {
        -moz-appearance: textfield;
    }
}

@layer components {

}

@layer utilities {
}
